<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.GroupMapper">

    <insert id="insert" parameterType="com.itheima.pojo.Group">
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into student_collaborative_task_system.student_group(name, class_id, create_time, member_num, update_time)
        values (#{name},#{classId},#{createTime},#{memberNum},#{updateTime})
    </insert>
    <update id="updateGroup">
        update student_collaborative_task_system.student_group
        <set>
            <if test="name!=null">name=#{name},</if>
            <if test="memberNum!=null">member_num=#{memberNum},</if>
            <if test="updateTime!=null">update_time=#{updateTime},</if>
            <if test="groupID!=null">group_id=#{groupID}</if>
        </set>
        where id=#{id}
    </update>
</mapper>